.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}

.mt-0 {
  margin-right: 0px;
}
.mt-10 {
  margin-right: 10px;
}
.mt-20 {
  margin-right: 20px;
}
.mt-30 {
  margin-right: 30px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

.primary-color {
  color: #1baee5;
}
.red-color {
  color: red;
}

td.column-text-right {
  text-align: right !important;
}
